<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be Right Back</h1>
    <p>
      The site currently is being updated.
    </p>
  </body>
</html>
